<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>

<meta charset="UTF-8" />

<script type="text/javascript" src="/js/usuarios/form.js"></script>

</head>
<body>

	<h1 layout:fragment="header" align="center">
		Login
	</h1>
	
	<div layout:fragment="content" class="container">

		<form id="userForm" th:action="@{/user/autentication}" th:object="${userForm}" action="#" method="post" align="center">
			<input type="text" th:field="*{username}"/><span  th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Nome Error</span><br/> <br/>
			<input type="text" th:field="*{password}"/><span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Nome Error</span><br/> <br/>
			<input type="submit" class="btn btn-primary" name="login" value="login" />
		</form>
		
	</div>

</body>
</html>